
@import url('https://fonts.googleapis.com/css?family=Cousine:400,700');

.App {
  text-align: left;
  padding: 5vh 5vw;
  font-family: 'Cousine', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

header {
  font-size: 36px;
  margin: 5vh 0;
  padding-bottom: 1vh;
  border-bottom: 4px solid #000;
  width: 240px;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

img.bench-image {
  margin: 0 auto;
  display: block;
  padding: 20vh 0 10vh 0;
}

.block {
  margin: 20vh 0 40vh 0;
}

.block:last-child {
  margin: 20vh 0 10vh 0;
}

.subtitle {
  color: #EB0F03;
  vertical-align: top;
  display: block;
  width: 400px;
}

.text {
  width: 350px;
  margin: 0 auto;
  /*border: 1px solid;*/
  display: block;
  vertical-align: top;

}



.text > .images > img {
  width: 350px;
  display: block;
  margin-top: 0.5vh;
  margin-bottom: 0;
}


.social-icon.social-icon--twitter  {
  cursor: pointer;
  filter: grayscale(100%);
}

