
@import url('https://fonts.googleapis.com/css?family=Cousine:400,700');

.App {
  text-align: left;
  padding: 5vh 5vw;
  font-family: 'Cousine', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

header {
  font-size: 36px;
  margin: 5vh 0;
}

img.bench-image {
  margin: 0 auto;
  display: block;
  padding: 20vh 0 10vh 0;
}

.block {
  margin: 20vh 0 40vh 0;
}

.block:last-child {
  margin: 20vh 0 10vh 0;
}

.subtitle {
  color: #EB0F03;
  vertical-align: top;
  display: inline-block;
  width: 180px;
  line-height: 22px;
}

.text {
  width: 300px;
  padding-left: 320px;
  display: inline-block;
  vertical-align: top;
}


.text > img {
  width: 150px;
}